<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/e7d38be2a0.js" crossorigin="anonymous"></script>

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none;}
.parallax {
    background-image: url("static/img/img_parallax.jpg");
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
 .parallax2 {
    background-image: url("static/img/workpara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .parallax3 {
    background-image: url("static/img/edupara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .parallax4 {
    background-image: url("static/img/contactpara.jpg");
    min-height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

</style>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}"> 
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-center" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item-center w3-button w3-padding-large "><b>Abby Kahler</b></a>
        <a href="/#portfolio" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Portfolio</a>
        <a href="/#work" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Work</a>
        <a href="/#education" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Education</a>
        <a href="/#contact" class="w3-bar-item-center  w3-button w3-padding-large w3-hide-small">Contact</a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="/#portfolio" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Portfolio</a>
    <a href="/#work" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Work</a>
    <a href="/#education" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Education</a>
    <a href="/#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
</div><br><br>

<!-- Page content -->
{% comment %} intro page {% endcomment %}
<div class="w3-content w3-black" style="max-width:2000px;">
  <div class="w3-center" style="padding-top:10px;">
    <h1>Hi! My name is Abby and welcome to my page.</h1>
    <h1>I'm a computer programmer in beautiful Los Angeles.</h1>
    </div>
  <div class="para1">
    <div class="parallax"></div>
  </div>
</div>
{% comment %} end intro page {% endcomment %}


{% comment %} Portfolio {% endcomment %}
<div class="w3-black" id="portfolio">
    <div class="w3-container w3-content w3-padding-16" style="max-width:800px">
      <h1 class="w3-wide w3-center">A few of my projects</h1>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/static/img/ninjaman.png" alt="ninjaman" style="width:100%">
          <div class="w3-container w3-black w3-center">
            <a href="/ninjaman">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">NinjaMan</button>
            </a>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom w3-center">
          <img src="/static/img/airplane.png" alt="airplane" style="width:100%">
          <div class="w3-container w3-black">
            <a href="/airplane">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">Airplane</button>
            </a>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom w3-center">
          <img src="/static/img/trip_menu.png" alt="trip tracker" style="width:100%">
          <div class="w3-container w3-black">            
            <a href="/trip">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">Trip Tracker</button>
            </a>
          </div>
        </div>
      </div>
      
      <div class="w3-container w3-content " style="max-width:800px">
      <h1 class="w3-wide w3-center">More coming soon!</h1>
      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="/static/img/mt.png" alt="marisa" style="width:100%">
          <div class="w3-container w3-black w3-center">
            <a href="#portfolio">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">MarisaTesta.com</button>
            </a>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom w3-center">
          <img src="/static/img/workout.png" alt="WorkOut" style="width:100%">
          <div class="w3-container w3-black">
            <a href="#portfolio">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">Workout Tracker</button>
            </a>
          </div>
        </div>
        {% comment %} <div class="w3-third w3-margin-bottom w3-center">
          <img src="/static/img/trip_menu.png" alt="trip tracker" style="width:100%">
          <div class="w3-container w3-black">            
            <a href="/trip">
            <button class="w3-button w3-blue w3-margin-bottom w3-margin-top">Trip Tracker</button>
            </a>
          </div> {% endcomment %}
        </div>
      </div>
        <h1 class="w3-wide w3-center">Languages</h1>
          <div class="icon w3-center w3-padding">
          <i class="fab fa-python w3-jumbo "></i>
          <i class="fab fa-react w3-jumbo"></i>
          <i class="fab fa-java w3-jumbo"></i>
          <i class="fab fa-js w3-jumbo"></i>
          <i class="fab fa-html5 w3-jumbo"></i>
          <i class="fab fa-css3 w3-jumbo"></i>
          <i class="fab fa-swift w3-jumbo"></i>
          </div>

    </div>
  </div>


</div>
{% comment %} End Portfolio {% endcomment %}

  
{% comment %} Work {% endcomment %}
<div class="para2 w3-black">
    <div class="parallax2"></div>
  
  <div class="w3-container w3-content w3-padding-32" style="max-width:800px" id="work">

  <div class="work">
    <div class="w3-row w3-padding-16">
        <div class="w3-center"style="padding-left:30px;">
          <img src="/static/img/cinebags.jpg" class="w3-round" alt="CineBags" style="width:14%">
        </div>
      <h2 class="w3-center">Director of Business Devolopment <br>Social Media Manager</h2>
      <p class=" w3-center" style="padding-bottom:20px;">2013-2020</p>
      <ul class="w3-left" style="padding-left:30px;">
        <li>Sales, Dealer and Customer Relations</li>
        <li>Overseeing warehouse to ensure shipments go out on schedule</li>
        <li>Social media manager responsible for the company Instagram and building 52k followers</li>
        <li>Managing on-site technology and troubleshooting any problems for all staff</li></p>
    </div>
  </div><br>

  <div class="work">
    <div class="w3-row w3-padding-32">
        <div class="w3-center">
          <img src="/static/img/verizon.webp" class="w3-round" alt="Verizon" style="width:32%">
        </div>
      <h2 class="w3-center">Sales Rep</h2>
      <p class=" w3-center" style="padding-bottom:20px;">2011-2013</p>
      <ul class="w3-left" style="padding-left:30px;">
        <li>Provide tech support and quick fixes for customers, directly impacting their experience</li>
        <li>Responsible for meeting and exceeding monthly quota</li>
    </div>
  </div><br>
  <div class="work">
      <div class="w3-row w3-padding-32">
      <h2 class="w3-center">Post Production Film</h2>
      <p class="w w3-center" style="padding-bottom:20px;">2005-2011</p>
      <ul class="w3-left" style="padding-left:30px;">
        <li>Various studios like Warner Brothers, Sony, Universal, and Paramount</li>
        <li>Managed multiple projects at once with short deadlines</li>
        <li>Sound fx editor and foley artist on more than 60 feature films</li>
        <li>Expert with editing softwares like Pro Tools and Final Cut</li>
    </div>
  </div>
  </div>

</div>

{% comment %} work end {% endcomment %}


{% comment %} Education {% endcomment %}

<div class="para3">
    <div class="parallax3"></div>

  <div class="w3-content" style="max-width:2000px;" id="education">
    <div class="mySlide1 w3-display-container w3-center">
      <img src="static/img/codingdojo.jpg" style="width:100%;">
      <div class="w3-display-middle w3-container w3-text-black w3-padding-32"style="background-color:gray;">
        <h2 class="w3-xxl">Coding Dojo Attended: 2020-2021</h2>
        <h3 class="w3-xxl">Graduated: Certificate</h3>
      </div>
    </div>
    <div class="mySlide2 w3-display-container w3-center">
      <img src="static/img/mtsu.jpg" style="width:100% ">
      <div class="w3-display-middle w3-container w3-text-black w3-padding-32"style="background-color:gray;">
      <h2 class="w3-xxl">MTSU Attended: 2001-2005</h2>
      <h3 class="w3-xxl">Graduated: BS</h3>
      </div> 
    </div>
    <div class="mySlide3 w3-display-container w3-center">
      <img src="static/img/lyon.jpg" style="width:100%;">
      <div class="w3-display-middle w3-container w3-text-black w3-padding-32"style="background-color:gray;">
        <h2 class="w3-xxl">Lyon College</h2>
        <h3 class="w3-xxl">Attended: 1999-2001</h3>
      </div>
    </div>
</div>      

</div>

{% comment %} edu end {% endcomment %}

{% comment %} Contact {% endcomment %}
<div class="para4">
    <div class="parallax4"></div>
</div>
  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:2000px; background: linear-gradient(to top, rgb(137, 196, 247) 10%, rgb(223, 137, 182) 90%) no-repeat" id="contact">
    <div class="contact" style="height:700px;"><br><br><br><br><br><br><br>
        <h1 class="w3-wide w3-center">Thanks for checking out my page!</h1>
        <h2 class="w3-wide w3-center">More projects coming soon!!</h2>
        <div class="w3-row w3-padding-32 w3-center">
          <div class="w3-col w3-large w3-margin-bottom">
            <i class="fa fa-envelope" style="width:50px"></i>
            <a href="mailto:m.abbykahler1@gmail.com">Email: abbykahler1@gmail.com</a>
          </div>
        </div>
    
<!--      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
        </form>
      </div> -->
    </div>
  </div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center  w3-white w3-xlarge">
  <div class="social">
  <a href="https://github.com/abbykahler">
  <i class="fa fa-github w3-hover-opacity w3-xxlarge"></i>
  <a>
  <a href="https://www.linkedin.com/in/abby-kahler-7ba25016/">
  <i class="fa fa-linkedin w3-hover-opacity w3-xxlarge"></i>
  <a>
  <a href="https://www.facebook.com/Abbykahler10">
  <i class="fa fa-facebook-official w3-hover-opacity w3-xxlarge"></i>
  </a>
  <a href="https://www.instagram.com/foleyartist.brown/?hl=en">
  <i class="fa fa-instagram w3-hover-opacity w3-xxlarge"></i>
  </a>
  </div>
  <h4>©2021 Abby Kahler</h4>      
</footer>

<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>


